body {
    font-family: 'Arial', sans-serif;
    background-image: url('seu-fundo-animado.gif'); /* Substitua pelo caminho do seu GIF */
    background-size: cover; /* Cobre toda a área */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-position: center; /* Centraliza a imagem */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    color: #61dafb;
}

.container {
    background-color: rgba(51, 51, 51, 0.8); /* Fundo semi-transparente para melhor legibilidade */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center; /* Centraliza o texto dentro do container */
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

button {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
}

.jogo {
    display: none; /* Oculta a seção do jogo inicialmente */
}

#vidas {
    margin-bottom: 20px; /* Espaçamento para os corações */
}

#chute {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

#enviar {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #fff;
    cursor: pointer;
}

#enviar:hover {
    background-color: #4CAF50;
}

.resultado {
    margin-bottom: 20px;
}

.vidas {
    margin-bottom: 20px;
}